<!-- <h1>This is the idea show page</h1> -->
<br>
<h2><%= @idea.title  %></h2>
<br>
<p><%= @idea.body  %></p>
<p>Submitted by <%= @idea.user.try(:username) %></p>

<% if (can? :edit, @idea) %>
<%= link_to 'Edit', edit_idea_path(@idea) %>
<% end %>

<% if (can? :destroy, @idea) %>
<%= link_to 'Delete', idea_path(@idea),
                                    method: :delete,
                                    data: { confirm: 'really?'}  %>
<% end %>

<br>
<% if current_user != @idea.user %>
<% if @review.errors.any? %>
<h2><%=@review.errors.full_messages.join(', ')  %></h2>
<% end %>
<div>
  <%= form_for ([@idea, @review]) do |f|  %>
  <h3>Add a Review</h3>
    <% f.label :body %>
    <%= f.text_area :body  %>
    <br>
    <%= f.select :rating, [5,4,3,2,1]  %>
    <br>
    <%= f.submit :submit  %>
  <% end %>

</div>
<% end %>
